body {
	background: white;
	/* font-family: Helvetica; */
	font-family: Arial;
	padding-bottom: 8px;
	margin: 0;
	/*font-family: */
		/*"Times New Roman";*/
		/*"Microsoft YaHei";*/
		/*"STXihei"*/
		/*"STKaiti";*/
}

/*font-family: Georgia, "Times New Roman", "Microsoft YaHei", "????", STXihei, "????", serif;*/
:lang(zh-Hant) 	{font-family: Kai,KaiTi,serif;}
:lang(zh) 	{font-family: Kai,KaiTi,serif;}


h1, h2, h3 {
	/* color: black; */
	/* color: #68118e; */
	margin-top: 0.7em;
	margin-bottom: 0.3em;
    padding-top: 0.5em;
	padding-bottom: 0.2em;
	line-height: 1.0;	
}

h1 {
	font-size: 165%;
}

h2 {
	padding-top: 0.8em;
    padding-bottom: 0.6em;
	font-size: 125%;
}

h3 {
	padding-top: 0.2em;
	font-size: 100%;
	border-bottom: none;
}

p {
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	line-height: 1.3;
	font-size: 100%;
}

ul, ol, dl {
	margin-top: 0.2em;
	padding-top: 0;
	margin-bottom: 0.8em;
}

ul {
	list-style-position: outside;
	/* list-style-type: square; */
	list-style-type: circle;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
}

ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}



/* table & img */
/* table.center {
	margin-left: auto; 
	margin-right: auto;
} */
  

img {
	border: 0.01px dashed lightgray;
    /* border: none; */
}



/* layout */
table#tlayout {
    width: 95%;
    border: none;
    border-collapse: collapse;
    background: white;
}
table.imgtable, table.imgtable td {
    border: none;
    text-align: left;
}

#layout-menu {
	background: #f6f6f6;
	border: 1px solid #dddddd;
	padding-top: 0.5em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 1.0em;
	width: 175px;
	white-space: nowrap;
    text-align: justify;
    vertical-align: top;
}

#layout-menu a {
	line-height: 1.5em;
	margin-left: 0.5em;
}

#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	color: #68118e;
	text-decoration: none;
}

#layout-menu td {
	background: #f4f4f4;
    vertical-align: top;
}

#layout-content {
	padding-top: 0em;
	padding-left: 3em;
	padding-right: 3em;
    border: none;
    background: white;
    text-align: left;
	/* text-align: justify; */
    vertical-align: top;
}

#layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
	margin-top: -0.7em;
}

#layout-content a {
	text-decoration: none;
}
#layout-content a:link { color: #68118e; }
#layout-content a:visited { color: #68118e; }
#layout-content a:hover { color: blue; }
#layout-content a:active { color: #68118e; }




/* div configs */
div#papers a:link { color: #68118e; }
div#papers a:visited { color: #68118e; }
div#papers a:hover { color: blue; }
div#papers a:active { color: #68118e; }
div.menu-category {
	border-bottom: 1px solid gray;
	margin-top: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	font-weight: bold;
}

div.menu-item {
	padding-left: 16px;
	text-indent: -16px;
}

div#toptitle {
	padding-bottom: 0.2em;
	margin-bottom: 1.5em;
	border-bottom: 3px double gray;
}

div#subtitle {
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

div#footer {
	font-size: small;
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
}

div#footer a {
	color: #80a0b0;
}

div#footer-text {
	float: left;
	padding-bottom: 8px;
}


div.codeblock, div.infoblock {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
}

div.blocktitle {
	font-weight: bold;
	color: #cd7b62;
	margin-top: 1.2em;
	margin-bottom: 0.1em;
}

div.blockcontent {
	border: 1px solid silver;
	padding: 0.3em 0.5em;
}

div.infoblock > div.blockcontent {
	background: #ffffee;
}

div.blockcontent p + ul, div.blockcontent p + ol {
	margin-top: 0.4em;
}

div.infoblock p {
	margin-bottom: 0em;
}

div.infoblock li p, div.infoblock dd p {
	margin-bottom: 0.5em;
}

div.infoblock p + p {
	margin-top: 0.8em;
}

div.codeblock > div.blockcontent {
	background: #f6f6f6;
}

div#toptitle h1, #layout-content div#toptitle h1 {
	margin-bottom: 0.0em;
	padding-bottom: 0.1em;
	padding-top: 0;
	margin-top: 0.5em;
	border-bottom: none;
}






/* Others */
i.material-icons {
	vertical-align: middle;
}

mark.c0 {
    font-size:20px;
    vertical-align:middle;
    font-weight:bold;
    font-style:italic;
    background: none;
	color: #E74C3C;
}

mark.c1 {
    font-size:20px;
    vertical-align:middle;
    font-weight:bold;
    font-style:italic;
    background: none;
    color:#3498DB;
}

mark.c2 {
    font-size:20px;
    vertical-align:middle;
    font-weight:bold;
    font-style:italic;
    background: none;
    color:#F39C12;
}

mark.c3 {
    font-size:20px;
    vertical-align:middle;
    font-weight:bold;
    font-style:italic;
    background: none;
    color:#28B463;
}

mark.c4 {
    font-size:20px;
    vertical-align:middle;
    font-weight:bold;
    font-style:italic;
    background: none;
    color: #68118e;
}
